@using MiPrimeraAplicacionWebConEntityFramework.Models;
@model List<MarcaCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--creamos un link(nombre del link, nombre del metodo, nombre dell controlador)-->
<!--le damos forma de boton con la bootstrap, asi: -->
@Html.ActionLink("Agregar", "Agregar", "Marca", null, new { @class="btn btn-primary"})

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td width="10%"><strong>ID Marca</strong></td>
            <td width="20%">Nombre Marca</td>
            <td width="60%">@Html.LabelFor(p => Model[0].Descripcion)</td> <!--helper para los tag anotation del modelo-->
            <td width="10%">Operaciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.IIDMarca</td>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>
                <!--agregamos dos link: para editar y eliminar la info-->
                <!--agregamos un action link donde no mostrara texto, accion Editar, controller Marca y pasamos un parametro id-->
                <!--este parametro id lo pasaremos en controller como parametro a la accion Editar-->
                @Html.ActionLink(" ", "Editar", "Marca", new { id = @item.IIDMarca }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                @Html.ActionLink(" ", "Eliminar", "Marca", new { id = @item.IIDMarca }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
            </td>
        </tr>
        }
        
    </tbody>
</table>